# project
.buildrecipe

# macOS
.DS_Store

# logs
*.log
*.out

# cruft
*.bak
*.new
*.old
*.orig
*.rej
.\#*
\#*
**/Archive/
**/x/

# editor/ide
*~
.cproject
.idea/
.metadata
.netrwhist
.project
.settings
.*.sw[a-z]
.vscode/
.wrmakefile
.wrproject
Session.vim
xcuserdata

# c/c++
*.a
*.core
*.d
*.elf
*.exe
*.o
*.so
*.vxe

# python
__pycache__
*.py[cod]
*$py.class

# swift
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
